<ion-header>
  <ion-toolbar style="background-color:rgb(71, 11, 11);">
  <div style="background-color:rgb(71, 11, 11);color:white; text-align: center;">
    <br>  Flu News - O app de notícias do Fluminense <br><br></div>
    
    
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  

  <h1 style="color: white;"> Flu News</h1>
  <p style="color: white;">
   Este aplicativo foi criado para os torcedores do Fluminense recebam as principais notícias do clube.<br><br>
   Desenvolvido por : Erick Menezes<br>
   Facebook :<a href=" https://www.facebook.com/Erickmenezess"> Erick Menezes"</a><br>
   Instagram : <a href="https://www.instagram.com.br/erick_menezess">@erick_menezess</a><br><br><br><br>
   Versão : 1.0


  <p>

 
</ion-content>

  


